<?xml version="1.0" encoding="utf-16"?>
<RLSETTINGS xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <rxChannelMask>
    <fields>bfChan01 bfChan02 bfChan03 bfChan04 bfChan05 bfChan06 bfChan07 bfChan08 bfChan09 bfChan10 bfChan11 bfChan12 bfChan13 bfChan14 bfChan15 bfChan16</fields>
    <ulWord>65535</ulWord>
  </rxChannelMask>
  <ulSampleRateDivisor>RL_SAMPLE_RATE__507812_5000Hz</ulSampleRateDivisor>
  <ulNumRxSamples>2048</ulNumRxSamples>
  <ulRxStartOffset>0</ulRxStartOffset>
  <ulNumAverages>1</ulNumAverages>
  <ulRepeatDelay_mS>0</ulRepeatDelay_mS>
  <adcRange>RL_ADC_2V5</adcRange>
  <tbShape>TB_SHAPE_GAUSSIAN</tbShape>
  <dblFrequency>50000</dblFrequency>
  <dblPhase>0</dblPhase>
  <ulDelay>0</ulDelay>
  <dblNumCycles>6</dblNumCycles>
  <ulTxMuteSamples>0</ulTxMuteSamples>
  <ulTxChannel>1</ulTxChannel>
  <ulTxChannelEnd>12</ulTxChannelEnd>
  <dblAtten_dB>0</dblAtten_dB>
  <ulIdleFrequency>1000</ulIdleFrequency>
  <ulStartFrequency>1000</ulStartFrequency>
  <ulEndFrequency>100000</ulEndFrequency>
  <ulNumPoints>30</ulNumPoints>
  <numAvg>RL_Z_AVG_1</numAvg>
  <trans_pos>
    <int>1</int>
    <int>2</int>
    <int>3</int>
    <int>4</int>
    <int>1</int>
    <int>2</int>
    <int>3</int>
    <int>4</int>
    <int>1</int>
    <int>2</int>
    <int>3</int>
    <int>4</int>
    <int>1</int>
    <int>2</int>
    <int>3</int>
    <int>4</int>
  </trans_pos>
  <trans_row>
    <int>1</int>
    <int>1</int>
    <int>1</int>
    <int>1</int>
    <int>2</int>
    <int>2</int>
    <int>2</int>
    <int>2</int>
    <int>3</int>
    <int>3</int>
    <int>3</int>
    <int>3</int>
    <int>4</int>
    <int>4</int>
    <int>4</int>
    <int>4</int>
  </trans_row>
</RLSETTINGS>